html,
.body {
  background-color: #f0f0f2;
}

.header .headerTitle h1 {
  color: #474d66;
  font-size: 24px;
  font-weight: 600;
  font-family: "TiemposHeadline", serif;
  background-color: white;
  padding: 33px
}